/*
The selector
the declaration block;
*/
div {
  color: red;
}
p {
	color: darkred;
}
header {
  font-size: 22px;
}

.border-1-black {
	border: 1px; solid#0000
}
.color-yellow {
	color: rgb(40 159 43 / 50%);
}
#main {
	font-style: italic;
}
div.border-1-black {
	color: yellow;
	font-size: 40px;
	font-size: 3rem;
}
.main .border-1-black {

}
